



#grid-2048{
  width: 400px;
}

.square{
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  width: 100px;
  display: inline-block;
}

.square .value{
  font-weight: 30px;
  text-align: center;
  transform: translateY(200%);
}

